<!DOCTYPE html>
<html lang="en">
<head>
    <title>Register</title>
</head>
<body>
    <H1>Register</H1>
    
    <P>Please enter exact book code</P>
    <form action="{{page}}" method="post">
      <label for="rowtodelete">Username:</label><br>
      <input type="text" id="rowtodelete" name="rowtodelete"><br>
      <input type="submit" value="Submit">
    </form>    
    <!--Code as reference is from the 5001CEM module aula lab task week 4 Basic UNIT project, concept of a form. this code is not used-->
</body>
</html>