<!DOCTYPE html>
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<title></title>
</head>
<body>
<h1 align="center"><br>
</h1>
<div align="center"><img moz-do-not-send="true"
src="https://images.pexels.com/photos/415071/pexels-photo-415071.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
alt="Book store Logo" width="250" height="200"><br>
<br>
<br>
<h1>U.N.I.T Control Centre</h1>
<p><br>
</p>
<h2>Unauthorised access!</h2>
<img moz-do-not-send="true"
src="https://upload.wikimedia.org/wikipedia/commons/0/03/Forbidden_Symbol_Transparent.svg"
alt="Forbidden" width="400" height="400">
<h2>Go back and try again</h2>
<p><a href="{{url_for('login')}}"><button>Return to login</button></a></p>
</div>
</body>
    <!--Code as reference is from the 5001CEM module aula lab task week 4 Basic UNIT project with changes in it-->
</html>

